<div>
  <h2>Add a Task</h2>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="taskName">Task Name:</label>
      <input type="text" id="taskName" [(ngModel)]="taskName" name="taskName" (ngModelChange)="changeButtonLabel()"
        required>
    </div>
    <div>
      <label for="previousTaskId">Previous Task ID (optional):</label>
      <select [(ngModel)]="previousTaskId">
        <option [value]="this.NO_SELECTED_TASK">no previous task</option>
        <option *ngFor="let t of tasks" value="{{t.id}}" [selected]="previousTaskId===t.id">{{t.id}}: {{t.name}}
        </option>
      </select>
    </div>
    <div>
      <label>Date:</label>
      <label for="taskMonth">Month</label>
      <input type="number" id="month" min="1" max="12" [(ngModel)]="taskMonth" name="taskMonth">
      <label for="taskDay">Day</label>
      <input type="number" id="day" min="1" max="31" [(ngModel)]="taskDay" name="taskDay">
    </div>
    <button type="submit">{{ selectedTaskId !== this.NO_SELECTED_TASK ? 'Update' : 'Add' }}</button>
  </form>

  <div *ngIf="message" class="message">{{ message }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <h3>Task List</h3>
  <ul>
    <ng-container *ngFor="let task of tasks">
      <li (click)="loadTask(task)" style="cursor: pointer;">
        <strong>Previous Task ID: {{ task.previousTaskId }}</strong>
        <br>
        {{ task.id }}: {{ task.name }}
      </li>
    </ng-container>
  </ul>
</div>