<div class="section">
  <div class="title">Exporter les données</div>
  <button (click)="exportJson()">Exporter</button>
</div>
<div class="section">
  <div class="title">Importer les données</div>
  <form (ngSubmit)="saveJSONFile()">
    <div>
      <label for="fileInput">Sélectionner le fichier JSON:</label><br />
      <input id="fileInput" type="file" (change)="onFileSelected($event)" accept=".json" />
    </div>
    <button type="submit" style="margin-top: 10px;">Importer</button>
  </form>
</div>
<div class="section">
  <div class="title">Effacer définitivement les données</div>
  <button (click)="deleteLocalStorage()">Effacer</button>
</div>