<div>
  <h3>Task List</h3>
  <div style="background-color: rgb(131, 189, 255);font-size: 20px;">Future Dates</div>
  <div *ngIf="this.futureTasks.length === 0" style="font-weight: bold;">All tasks are completed!</div>
  <div *ngFor="let task of futureTasks; index as taskIndex">
    <div style="background-color: #deffc8; margin-top: 5px;">
      <b *ngIf="taskIndex === 0">{{ task.fullDate.toDateString() }}</b>
      <span *ngIf="taskIndex !== 0">{{ task.fullDate.toDateString() }}</span>
    </div>
    {{ task.name }}
    <div *ngIf="task.isDone()" style="width: 100px;text-align: center; background-color: rgb(166, 255, 154);">Done</div>
    <button *ngIf="!task.isDone()" (click)="markAsDone(task.id)">Mark as done</button>
  </div>
  <div style="background-color: rgb(255, 211, 144);font-size: 20px;margin-top: 10px;">Past Dates</div>
  <div *ngFor="let task of pastTasks">
    <div style="background-color: #deffc8; margin-top: 5px;">{{ task.fullDate.toDateString() }}</div>
    {{ task.name }}
    <div *ngIf="task.isDone()" style="background-color: rgb(166, 255, 154);">Done</div>
    <button *ngIf="!task.isDone()" (click)="markAsDone(task.id)">Mark as done</button>
  </div>
</div>