<div>
  <h2>Ajout de tâches</h2>
  <div>
    <label for="taskName">Intitulé de la tâche:</label>
    <input type="text" id="taskName" [(ngModel)]="taskName" name="taskName" required>
  </div>
  <div>
    <label for="previousTaskId">Tâche précédente:</label>
    <select [(ngModel)]="previousTaskId">
      <option [value]="this.NO_SELECTED_TASK_ID">pas de tâche précédente</option>
      <option *ngFor="let task of elements" [ngValue]="task.id" [selected]="previousTaskId===task.id">{{task.id}}:
        {{task.name}}
      </option>
    </select>
  </div>
  <div *ngIf="this.previousTaskId === this.NO_SELECTED_TASK_ID">
    <label>Date:</label>
    <label for="taskMonth">Mois</label>
    <input type="number" id="month" min="1" max="12" [(ngModel)]="taskMonth" name="taskMonth">
    <label for="taskDay">Jour</label>
    <input type="number" id="day" min="1" max="31" [(ngModel)]="taskDay" name="taskDay">
  </div>
  <div *ngIf="this.previousTaskId !== this.NO_SELECTED_TASK_ID">
    <label>Durée après la tâche précédente (en jours):</label>
    <input type="number" id="day" min="0" max="30" [(ngModel)]="afterPreviousDays" name="sinceDays">
  </div>
  <button *ngIf="isNewElement()" (click)="addTask()">Ajouter</button>
  <button *ngIf="!isNewElement()" (click)="updateTask()">Modifier</button>
  <button *ngIf="!isNewElement()" (click)="deleteSelectedElement()">Supprimer</button>

  <div *ngIf="message" class="message">{{ message }}</div>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

  <h3>Liste des tâches</h3>
  <ul>
    <ng-container *ngFor="let task of elements">
      <li (click)="loadTask(task)" style="cursor: pointer;">
        <strong>{{ task.id }}: {{ task.name }}</strong>
        <br>
        ID de la tâche précédente: {{ task.previousTaskId }}
      </li>
    </ng-container>
  </ul>
</div>